.co-page__content {
  flex: 1;
  overflow: hidden;
}

.cs--scroll-hack {
  height: calc(100vh - 113px);
  overflow-y: auto;
}

.cs--scroll-hack-sidebar {
  height: calc(100vh - 113px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-y: auto;
}

.cs--scroll-hack-list {
  height: calc(100vh - 165px);
  overflow-y: auto;
}

.cs--scroll-hack-sidebar::-webkit-scrollbar-thumb,
.cs--scroll-hack::-webkit-scrollbar-thumb,
.cs--scroll-hack-list::-webkit-scrollbar-thumb {
  background: #6F767D;
  border-radius: 13px;
  border: 3px solid #FFFFFF;
}

.cs--scroll-hack-list::-webkit-scrollbar-thumb,
.cs--scroll-hack::-webkit-scrollbar-thumb{
  border: 3px solid #f2f4f5;
}
.cs--scroll-hack-sidebar::-webkit-scrollbar,
.cs--scroll-hack::-webkit-scrollbar,
.cs--scroll-hack-list::-webkit-scrollbar {
  width: 0.8em;
}
.cs--scroll-hack-sidebar::-webkit-scrollbar-track,
.cs--scroll-hack::-webkit-scrollbar-track,
.cs--scroll-hack-list::-webkit-scrollbar-track {
  background: transparent;
}

.cs-hack-height-component-list {
  display: flex;
  height: calc(100% - 90px);
}
